body {
  font-family: "Abel";
  align-items: center;
  margin: 0px 0px;
}

#site-header {
  position:absolute;
  left:0;
  top:0;
  width: 100%;
  height: 10%;
  background-color: #121810;
  color: #cbcbcb;
}

#logo {
  position:absolute;
  top:0;
  height: 100%;
  width: 10%;
  margin-left: 2%;
}

.wolt-blue {
  color: #002442;
}

#motto {
  position: absolute;
  top: 15%;
  vertical-align: top;
  margin-left: 15%;
  font-weight: bold;
  font-size: xx-large;
}

.attention {
  color: #b82727;
}

.bg-attention {
  background-color: #a52727;
  border-color: #a72727;
}

#food-cover {
  margin-top: 8%;
  margin-bottom: 3%;
  width: 100%;
}

#wolt {
  column-count: 2;
}

h2 {
  /* background-image: linear-gradient(90deg, #791616, #277c0e);
  animation: animateBg 7s infinite linear; */
  font-weight: bold;
  color: #63c247;
  background-color:#121810;
  width: 105%;
  margin-left: 5%;
  text-align:center;
}

p {
  background-color: #3f9624af;
  width: 105%;
  margin-left: 5%;
  font-size: 150%;
}

#copy-button {
  font-size: 100%;
  color: #dde;
  background-color: #a72727;
  border-color: #a72727;
}


#img-col {
  width: 100%;
  margin-top: 99999px;
  align-self: auto;
  margin-left: 20%;
}

#img-col img {
  height: 60%;
  width: 60%;

}

@keyframes animateBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 650 0;
  }
}
